# fastapi[standard] matplotlib pandas requests-oauthlib sentinelhub supervision inference ultralytics transformers
fastapi[standard]
matplotlib
pandas
requests-oauthlib
sentinelhub
supervision
#inference
ultralytics
#transformers
